@import "tailwindcss";

@theme {
  /* colores primarios */
  --color-primary: #16a34a;
  --color-primary-light: #4ade80;
  --color-primary-dark: #15803d;

  /* colores secundarios */
  --color-secondary: #facc15;
  --color-secondary-dark: #eab308;

  /*  colores para resaltar */
  --color-accent: #ef4444;
  --color-accent-dark: #b91c1c;

  /* Escala de colores */
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;
}